@charset "utf-8";

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
font-family: 'Poppins', sans-serif;
font-family: 'Lora', serif;

html
{  
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body
{
    height: 100vh;   
    width: 100%;
    color: #cc005f;
    padding-top: 5rem;
    background-color: #0e0e0e;
}
.home-content h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
	color: #FFFFFF;	
	font-size: 8.4rem;
	line-height: 1.071;	
	margin-top: 0;
	margin-bottom: .6rem;    
}
.home-content h5 {
    text-align: center;
	color: #cc005f;
	font-family: 'Poppins', sans-serif;
	font-size: 2rem;
	line-height: 1.5;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: .3rem;
}
.home-content .home-position {   
    text-align: center;
    font-family: 'Lora', serif;
	font-size: 1.6rem;
	line-height: 2rem;
	text-transform: uppercase;
	letter-spacing: .6rem;
	color: #FFFFFF;	
}
.home-content .home-position span {
    margin-top: 0.5rem;
	display: inline-block;
}
.home-content .home-position span::after {
	text-align: center;	
	padding: 0 8px 0 14px;
    content: "|";
    color:dimgrey;	
}
.home-content .home-position span:first-child::before {	
    text-align: center;	
	padding: 0 14px 0 8px;	
    content: "|";
    color:dimgrey;
}
#social-footer{
    text-align: center;
}
.home-social
{     
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
.social-text
{
    position: fixed;
    list-style-type: none;
    display: inline-block;

}
.home-social li
{
    list-style-type: none;
    display: inline-block;   
    letter-spacing:25px;  
}
fa
{
    color: #ffffff;    
}
.home-social a, .home-social a:visited
{    
    color: #ffffff;
}
.home-social a:hover, .home-social a:focus
{
    color: #cc005f;
} 

/*  responsive  */

@media only screen and (max-width:1024px) {
	.home-content h1 {
		font-size: 7.6rem;
	}	
}
@media only screen and (max-width:768px) {
	#home {
		min-height: 660px;
	}
	.home-content h1 {
		font-size: 5.2rem;
	}
	.home-content h5 {
		font-size: 1.8rem;
	}
	.home-content .intro-position {
		font-size: 1.3rem;
	}	
}
@media only screen and (max-width:600px) {
	#home {
		min-height: 600px;
	}
	.home-content h1 {
		font-size: 4.6rem;
		margin-bottom: .6rem;
	}
	.home-content h5 {
		font-size: 1.5rem;
		margin-bottom: .3rem;
		letter-spacing: .2rem;
	}
	.home-content .home-position {
		font-size: 1.2rem;
	}
	.home-content .home-position span {
		padding: 0 .6rem;
	}
	.home-content .home-position span::before, .home-content .home-position span::after {
		display: none !important;
	}
}
.box-content h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
	color: #313131;	
	font-size: 2.0rem;
    text-transform: uppercase;
    font-weight: bold;
}
.box-content p{
    margin-top: 0rem;
    text-align: center;
	color: #a6a6a6;
	font-family: 'Lora', serif;
	font-size: 1.5rem;
	line-height: 1.5;		
	letter-spacing: .3rem;    
}